<div>
<!-- MLAB DB -->
  <table class="table">
    <tr>
      <span class="titles"><mat-icon class="iconic">home</mat-icon></span>
      <span class="titles"><mat-icon class="iconic">public</mat-icon></span>
      <span class="titles"><mat-icon class="iconic">airline_seat_individual_suite</mat-icon></span>
    </tr>
    <tr>
      <button type="submit" class="faces steph" id="steph1" (click)="updateIssueSec('5f142cf1a44ec34558905656','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces steph" id="steph2" (click)="updateIssueSec('5f142cf1a44ec34558905656','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces steph" id="steph3" (click)="updateIssueSec('5f142cf1a44ec34558905656','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces jacob" id="jacob1" (click)="updateIssueSec('5f14391cd19e4d28186a42f9','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces jacob" id="jacob2" (click)="updateIssueSec('5f14391cd19e4d28186a42f9','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces jacob" id="jacob3" (click)="updateIssueSec('5f14391cd19e4d28186a42f9','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces hannah" id="hannah1" (click)="updateIssueSec('5f143923d19e4d28186a42fa','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces hannah" id="hannah2" (click)="updateIssueSec('5f143923d19e4d28186a42fa','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces hannah" id="hannah3" (click)="updateIssueSec('5f143923d19e4d28186a42fa','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces milly" id="milly1" (click)="updateIssueSec('5f14392bd19e4d28186a42fb','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces milly" id="milly2" (click)="updateIssueSec('5f14392bd19e4d28186a42fb','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces milly" id="milly3" (click)="updateIssueSec('5f14392bd19e4d28186a42fb','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces lachy" id="lachy1" (click)="updateIssueSec('5f143933d19e4d28186a42fc','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces lachy" id="lachy2" (click)="updateIssueSec('5f143933d19e4d28186a42fc','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces lachy" id="lachy3" (click)="updateIssueSec('5f143933d19e4d28186a42fc','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces fil" id="fil1" (click)="updateIssueSec('5f14393ad19e4d28186a42fd','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces fil" id="fil2" (click)="updateIssueSec('5f14393ad19e4d28186a42fd','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces fil" id="fil3" (click)="updateIssueSec('5f14393ad19e4d28186a42fd','0', '0', '1', 'x','x')" ></button>
    </tr>

<!-- LOCAL DB -->
<!--
    </tr>
    <tr>
      <button type="submit" class="faces steph" id="steph1" (click)="updateIssueSec('5f0f1a6961af05fedde9babf','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces steph" id="steph2" (click)="updateIssueSec('5f0f1a6961af05fedde9babf','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces steph" id="steph3" (click)="updateIssueSec('5f0f1a6961af05fedde9babf','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces jacob" id="jacob1" (click)="updateIssueSec('5f0f1a8761af05fedde9bad6','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces jacob" id="jacob2" (click)="updateIssueSec('5f0f1a8761af05fedde9bad6','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces jacob" id="jacob3" (click)="updateIssueSec('5f0f1a8761af05fedde9bad6','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces hannah" id="hannah1" (click)="updateIssueSec('5f1326960150aed2c4b8dc45','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces hannah" id="hannah2" (click)="updateIssueSec('5f1326960150aed2c4b8dc45','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces hannah" id="hannah3" (click)="updateIssueSec('5f1326960150aed2c4b8dc45','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces milly" id="milly1" (click)="updateIssueSec('5f1326c40150aed2c4b8dc7c','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces milly" id="milly2" (click)="updateIssueSec('5f1326c40150aed2c4b8dc7c','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces milly" id="milly3" (click)="updateIssueSec('5f1326c40150aed2c4b8dc7c','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces lachy" id="lachy1" (click)="updateIssueSec('5f1326b60150aed2c4b8dc6d','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces lachy" id="lachy2" (click)="updateIssueSec('5f1326b60150aed2c4b8dc6d','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces lachy" id="lachy3" (click)="updateIssueSec('5f1326b60150aed2c4b8dc6d','0', '0', '1', 'x','x')" ></button>
    </tr>
    <tr>
      <button type="submit" class="faces fil" id="fil1" (click)="updateIssueSec('5f1326ce0150aed2c4b8dc8a','1', '0', '0', 'x','x')" ></button>
      <button type="submit" class="faces fil" id="fil2" (click)="updateIssueSec('5f1326ce0150aed2c4b8dc8a','0', '1', '0', 'x','x')" ></button>
      <button type="submit" class="faces fil" id="fil3" (click)="updateIssueSec('5f1326ce0150aed2c4b8dc8a','0', '0', '1', 'x','x')" ></button>
    </tr> -->




  </table>


</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
